<%
  files = Dir[Dir.pwd+"/views/articles/*"]
  names = files.map {|f| f.split('/views/articles/')[1].split('.md')[0]}.sort
%>

<h2> Articles </h2>

<ul>
<% names.each do |name| %>
  <li><a href='/articles/<%=name%>'><%= name.titleize %></a></li>
<% end %>
  <li><a target=_blank href='https://medium.com/@sellarafaeli/god-is-a-metaphor-for-life-ee5f74892921'>"God" is a Metaphor For Life</a></li>
  <li><a target=_blank href='https://docs.google.com/document/d/1y9PyFArkNy9Yz4lfZaC-faauWxfLLmfb_j86sfm41bA/edit'>Yin and Yang - How Good and Bad Can Only Exist Together</a> Oct 2020 </li>
</ul>