<div id='guide_page'>
<style>
.guidde {
  background: rgba(0, 0, 0, .8);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  color: white;
}

#results {
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 20px;
}

.top_bar {
  text-align: center;
}
#search {
  margin: 20px;
  width: 80%;
  font-size: 20px;
  padding: 10px;
  color: black;
}
.single_playbook {
  display: inline-block;
  border: 2px solid grey;
  width: 300px;
  margin-right: 50px;
}
.single_playbook:hover {
  border-color: white;
  cursor: pointer;
}
.single_pb_top {
  background-color: #30a5cc;
}
.pb_type {
  padding: 10px;
}
.pb_title {
  font-size: 25px;
  padding: 10px;
}
.pb_creator_img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: -20px;
}
.single_pb_bottom {
  padding: 10px;
  position: relative;
}
.pb_bottom_row_one {
  margin: 10px 0;
}
.pb_bottom_row_two {
  margin: 10px 0;
}

#video_player {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999;
  background-color: whitesmoke;
  display: none;
}

#youtube_iframe {
  padding: 20px;
}
#close_video_btn {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 9999999;
  cursor: pointer;
  color: black;
  font-size: 17px;
}
#close_video_btn:hover {
  color: grey;
}
</style>

<div class="guidde">
  <div class='top_bar'>
    <input autofocus id=search onkeyup=search() placeholder="Search for Guidde playbooks..."/>  
  </div>

  <div id='results'>
  </div>
</div>


<div id='video_player'>
  <div id=close_video_btn onclick=stopVideo();>ⓧ</div>
  <iframe id=youtube_iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>