<h1> Log In </h1>
<form action='login' method='post'>
  <label> Enter your email: <input name=email   class='email_input' autofocus value="<%= pr[:email] %>" > </label>
  <button class='btn large solid blue'> Get Login Link </button>
</form>