<h1> Sign Up </h1>
<form action='/signup' method='post'>
  <label>Email:</label>
  <input class='email_input' name=email value=<%=pr[:email]%>>
  <button class='btn large solid blue'> Sign Up </button>
</form>