<%
  srcs = [
    'https://images.unsplash.com/photo-1585144570630-65b30922ff03?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80',
    'https://images.unsplash.com/photo-1527690578719-095da0f6091d?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=480&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=480'
  ]


  srcs = [
    'https://i.pinimg.com/236x/0d/32/f2/0d32f2c1933d4d03277189f1ced83530.jpg',
'https://i.pinimg.com/236x/fd/9a/13/fd9a13e1bdb023b1e911b97faf71e121.jpg',
'https://i.pinimg.com/236x/39/30/ec/3930ec707ad1f16dd2b859314516c427.jpg',
'https://i.pinimg.com/236x/e0/cd/2a/e0cd2a52ec12f701cf50be1e03d0dbbd.jpg',
'https://i.pinimg.com/236x/04/66/79/0466799651fb95b82a41ee5fef0b1801.jpg',
'https://i.pinimg.com/236x/14/a0/92/14a092366c5e18d877b46af7e968aabf.jpg',
'https://i.pinimg.com/236x/e9/12/70/e91270954941db349d37556895575163.jpg',
'https://i.pinimg.com/236x/3d/a1/95/3da195d0e61b1dfe670f7170de1ff582.jpg',
'https://i.pinimg.com/236x/83/2b/5d/832b5d760b6828f5f0487af724d6a3ff.jpg',
'https://i.pinimg.com/236x/b2/1a/5c/b21a5c6eaf95f2487f78e15ef5e4fa4b.jpg',
'https://i.pinimg.com/236x/38/c5/de/38c5deda6e47f7690069796887251dc4.jpg',
'https://i.pinimg.com/236x/76/76/c0/7676c05f8a9d9a57da4bddbc7ea78582.jpg',
'https://i.pinimg.com/236x/3a/a6/57/3aa6572367a3f780b8c492b19656b573.jpg',
'https://i.pinimg.com/236x/3a/a6/57/3aa6572367a3f780b8c492b19656b573.jpg',
'https://i.pinimg.com/236x/3a/a6/57/3aa6572367a3f780b8c492b19656b573.jpg',
'https://i.pinimg.com/236x/3a/a6/57/3aa6572367a3f780b8c492b19656b573.jpg',
'https://i.pinimg.com/236x/3a/a6/57/3aa6572367a3f780b8c492b19656b573.jpg',
'https://i.pinimg.com/236x/3a/a6/57/3aa6572367a3f780b8c492b19656b573.jpg',
'https://i.pinimg.com/236x/3a/a6/57/3aa6572367a3f780b8c492b19656b573.jpg',
'https://i.pinimg.com/236x/cf/5a/e1/cf5ae1e14284264f185102324fd07fef.jpg',
'https://i.pinimg.com/236x/cf/5a/e1/cf5ae1e14284264f185102324fd07fef.jpg',
'https://i.pinimg.com/236x/cf/5a/e1/cf5ae1e14284264f185102324fd07fef.jpg',
'https://i.pinimg.com/236x/cf/5a/e1/cf5ae1e14284264f185102324fd07fef.jpg',
'https://i.pinimg.com/236x/cf/5a/e1/cf5ae1e14284264f185102324fd07fef.jpg',
'https://i.pinimg.com/236x/cf/5a/e1/cf5ae1e14284264f185102324fd07fef.jpg',
'https://i.pinimg.com/236x/cf/5a/e1/cf5ae1e14284264f185102324fd07fef.jpg',
'https://i.pinimg.com/236x/cf/5a/e1/cf5ae1e14284264f185102324fd07fef.jpg',
'https://i.pinimg.com/236x/cf/5a/e1/cf5ae1e14284264f185102324fd07fef.jpg',
'https://i.pinimg.com/236x/a3/7b/9d/a37b9da72cac390c0e38833c78aff89f.jpg',
'https://i.pinimg.com/236x/a3/7b/9d/a37b9da72cac390c0e38833c78aff89f.jpg',
'https://i.pinimg.com/236x/a3/7b/9d/a37b9da72cac390c0e38833c78aff89f.jpg',
'https://i.pinimg.com/236x/a3/7b/9d/a37b9da72cac390c0e38833c78aff89f.jpg',
'https://i.pinimg.com/236x/a3/7b/9d/a37b9da72cac390c0e38833c78aff89f.jpg',
'https://i.pinimg.com/236x/a3/7b/9d/a37b9da72cac390c0e38833c78aff89f.jpg',
'https://i.pinimg.com/236x/a3/7b/9d/a37b9da72cac390c0e38833c78aff89f.jpg',
'https://i.pinimg.com/236x/a3/7b/9d/a37b9da72cac390c0e38833c78aff89f.jpg',
'https://i.pinimg.com/236x/3b/c5/07/3bc5075d3b9c7f0500f0c0e26abc2216.jpg',
'https://i.pinimg.com/236x/3b/c5/07/3bc5075d3b9c7f0500f0c0e26abc2216.jpg',
'https://i.pinimg.com/236x/3b/c5/07/3bc5075d3b9c7f0500f0c0e26abc2216.jpg',
'https://i.pinimg.com/236x/3b/c5/07/3bc5075d3b9c7f0500f0c0e26abc2216.jpg',
'https://i.pinimg.com/236x/3b/c5/07/3bc5075d3b9c7f0500f0c0e26abc2216.jpg',
'https://i.pinimg.com/236x/3b/c5/07/3bc5075d3b9c7f0500f0c0e26abc2216.jpg',
'https://i.pinimg.com/236x/3b/c5/07/3bc5075d3b9c7f0500f0c0e26abc2216.jpg',
'https://i.pinimg.com/236x/3b/c5/07/3bc5075d3b9c7f0500f0c0e26abc2216.jpg',
'https://i.pinimg.com/236x/26/b3/0f/26b30f730209e1c2cfd088b1079662d6.jpg',
'https://i.pinimg.com/236x/26/b3/0f/26b30f730209e1c2cfd088b1079662d6.jpg',
'https://i.pinimg.com/236x/26/b3/0f/26b30f730209e1c2cfd088b1079662d6.jpg',
'https://i.pinimg.com/236x/26/b3/0f/26b30f730209e1c2cfd088b1079662d6.jpg',
'https://i.pinimg.com/236x/26/b3/0f/26b30f730209e1c2cfd088b1079662d6.jpg',
'https://i.pinimg.com/236x/26/b3/0f/26b30f730209e1c2cfd088b1079662d6.jpg',
'https://i.pinimg.com/236x/26/b3/0f/26b30f730209e1c2cfd088b1079662d6.jpg',

  ]

  srcs = srcs.sample(16)
%>

<style>
.imgs {
  width: 500px;
}
.img {
  height: 100px;
  width: 100px;
}
</style>
<h1> Yoni 2020 </h1>

<div class='imgs'>

  <% 1.times do %>
    <div>
    <% srcs.each do |src| %>
      <img class='img' src="<%=src%>" />
    <% end %>
    </div>
  <% end %>
</div>