<style>
.org_card {
  border: 1px solid darkgrey;
  background: whitesmoke;
  padding: 10px;
}
</style>

<div class='org_card'>
  <div><b> Single Org </b></div>

  <div> <a href='/<%= org[:slug] %>'><%= org[:name] %></a> </div>
  <div> Address: <%= org[:address] %> </div>
  <div> Description: <%= org[:desc] %> </div>
</div>